/*
classes
 */
.container{
    width: 35%;
}
.btn-primary{
    padding: 8px;
}

/*
id
 */
#boards {
    background-color: green;
}

#login-form, #registrationForm {
    margin-left: 30%;
}

#loginSubmit, #registrationSubmit{
    margin-left: 25%;
    width: 50%;
}
#wrongPasswordOrLogin{
    color: red;
}

/*
other
 */
h1{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
p{
    color: red;
}