/*
classes
 */
.container{
    width: 35%;
}
.btn-primary{
    padding: 8px;
}
.wrapper{
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.jumbotron{
    border-radius: 10px;
    background-color: #d9d9d9;
    padding-top: 20px;
    padding-right: 10px;
    width:80%;
}
.inner {
    height: 90px;
    width: 390px;
    border-radius: 12px;
    border-style: outset;
    background-color: white;
    padding: 0px;
    margin-left: -5%;
    color: black;
    text-align: center;
}
.inner:hover{
    background-color: whitesmoke;
    cursor: grab;
}
/*
id
 */
#boards {
    background-color: green;
}

#login-form, #registrationForm {
    margin-left: 30%;
}

#loginSubmit, #registrationSubmit{
    margin-left: 25%;
    width: 50%;
}
#wrongPasswordOrLogin{
    color: red;
}

/*
other
 */
h1{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    padding: 2%;
}
h4{
    text-align: center;
}