{% extends 'layout.html' %}
{% block header %}
    <h1>PRO MAN</h1>
{% endblock %}

{% block content %}

    {% if user_logged_in %}
        <div class="group-btn">
            <a class="btn-primary" href="{{ url_for('logout') }}">Logout</a>
            <p>Signed as : {{ username }}</p>
        </div>
    {% else %}
    <div class="group-btn">
        <a class="btn-primary" href="{{ url_for('registration') }}">Registration</a>
        <a class="btn-primary" href="{{ url_for('login') }}">Login</a>
    </div>
    {% endif %}
 {#   <div class="wrapper">
        <div id='right' class="jumbotron">
            <h4><strong>To do</strong></h4>
            <div class="inner jumbotron">
                <p>I like right and You? No i don't i prefer left or middle</p>
            </div>
            <div class="inner jumbotron">
                <p>I like right</p>
            </div>
            <button class="btn-secondary">Add card</button>
        </div>
        <div id="middle" class="jumbotron">
            <h4><strong>In progress</strong></h4>
            <div class="inner jumbotron">
                <p>I like right</p>
            </div>
            <div class="inner jumbotron">
                <p>I like right</p>
            </div>
            <button class="btn-secondary">Add card</button>
        </div>
        <div id="left" class="jumbotron">
            <h4><strong>Done</strong></h4>
            <div class="inner jumbotron">
                <p>I like right</p>
            </div>
            <div class="inner jumbotron">
                <p>I like middle
                asdfasdfsd
                    asdfasdf</p>
            </div>
            <span class="glyphicon glyphicon-plus"></span>
            <button class="btn-secondary"> Add card</button>
        </div>
    </div>#}

	<div id="board-container">
		<!-- to be filled with js function 'showboards' -->
	</div>

{% endblock %}