{% extends 'layout.html' %}
{% block header %}
    <h1>PRO MAN</h1>
{% endblock %}

{% block content %}

    {% if user_logged_in %}
        <div class="group-btn">
            <a class="btn-primary" href="{{ url_for('logout') }}">Logout</a>
            <p>Signed as : {{ username }}</p>
        </div>
    {% else %}
    <div class="group-btn">
        <a class="btn-primary" href="{{ url_for('registration') }}">Registration</a>
        <a class="btn-primary" href="{{ url_for('login') }}">Login</a>
    </div>
    {% endif %}

{#	{% include 'boards.html' %}#}

	<div id="boards">
		<!-- to be filled with js function 'showboards' -->
	</div>

{% endblock %}